.accordion {
  display: flex;
  justify-content: space-between;
  width: 70%;

  @include vp-1023 {
    width: 100%;
  }

  @include vp-767 {
    flex-direction: column;
    margin-bottom: 35px;
  }
}


.accordion__wrapper {
  &--nav {
    width: 58%;
  }

  &--contacts {
    width: 42%;
  }

  @include vp-1023 {
    &--nav {
      width: 50%;
    }

    &--contacts {
      width: 48%;
    }
  }

  @include vp-767 {
    width: 100%;
    border-bottom: 1px solid rgba(248, 253, 255, 0.7);
  }
}

.accordion__wrapper button {
  font-family: $font-roboto-condensed;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-default-white;
  background-color: transparent;
  border: none;
  padding-left: 10px;
  margin-bottom: 20px;
  transition: 0.4s;

  @include vp-1023 {
    padding: 7px 0;
    margin-bottom: 14px;
  }

  @include vp-767 {
    position: relative;
    width: 100%;
    text-align: left;
    padding: 22px 25px;
    margin: 0 auto;

    .active,
    &:hover {
      outline: 1px solid $color-light-blue;
      border-radius: 3px;
    }

    &::after {
      position: absolute;
      content: "+";
      right: 26px;
      font-size: 25px;
      color: $color-default-white;
    }

    &.active::after {
      position: absolute;
      content: "\2500";
      right: 26px;
      font-size: 25px;
      color: $color-default-white;
    }
  }
}

.accordion__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content min-content min-content;
  width: 100%;
  padding-left: 0;

  @include vp-1023 {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 0;
    min-height: 234px;
    width: 100%;
  }

  @include vp-767 {
    padding: 0 25px;
    min-height: 148px;
  }

  &--contacts {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
}

.accordion__item {
  font-family: $font-pt-mono;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: $color-white-transparent;
  cursor: pointer;
  padding: 4px 10px;

  &--accessories {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  &--delivery {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  &--contacts {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }


  @include vp-1023 {
    width: 70%;
    margin-left: 0;
    padding: 4px 0;

    &--address {
      width: 100%;
    }
  }

  @include vp-767 {
    width: 100%;
    margin-left: 0;
    font-size: 14px;

    &--address {
      padding: 7px 0;
      padding-bottom: 0;
    }
  }
}

.accordion__item a {
  font-family: $font-pt-mono;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: $color-white-transparent;
  cursor: pointer;

  &:hover {
    color: $color-light-blue;
  }

  &:active {
    opacity: 0.6;
  }

  @include vp-767 {
    margin-left: 0;
    font-size: 14px;
    line-height: 25px;
  }
}
