.basic-info {
  max-width: 1264px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  padding-left: 147px;
  padding-top: 305px;
  color: $color-light-grey;

  @include vp-1023 {
    max-width: 1024px;
    padding-top: 180px;
    padding-left: 27px;
  }

  @include vp-767 {
    max-width: 768px;
    padding: 0 10px;
    padding-top: 150px;
  }
}

.basic-info h2 {
  margin: 0;
  margin-bottom: 30px;
  font-family: $font-roboto-condensed;
  font-size: 80px;
  font-weight: 700;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;

  @include vp-1023 {
    font-size: 64px;
    line-height: 75px;
    margin: 0;
  }

  @include vp-767 {
    margin-bottom: 8px;
    width: 100%;
    font-size: 36px;
    line-height: 42px;
  }
}

.basic-info p {
  width: 60%;
  margin: 0;
  margin-bottom: 49px;
  font-family: $font-pt-mono;
  font-size: 22px;
  font-weight: 400;
  line-height: 155%;

  @include vp-1023 {
    font-size: 22px;
    width: 100%;
    margin-bottom: 57px;
  }

  @include vp-767 {
    width: 100%;
    font-size: 14px;
    margin-bottom: 45px;
  }
}

.basic-info a {
  display: block;
  max-width: 410px;
  min-height: 55px;
  padding: 15px 25px;
  background-color: $color-light-blue;
  border-radius: 3px;
  font-family: $font-roboto-condensed;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.05em;
  color: $color-light-grey;
  text-transform: uppercase;

  &:hover {
    outline: 2px solid $color-light-grey;
    background-color: $color-dark-grey;
  }

  &:active {
    outline: 2px solid $color-light-grey;
    opacity: 0.6;
  }

  @include vp-1023 {
    margin-left: 45px;

    @include hover-focus {
      outline: none;
      background-color: $color-light-blue;
    }
  }

  @include vp-767 {
    padding: 12px 30px;
    margin: 0;
    min-width: 100%;
    min-height: 40px;
    font-size: 14px;
    line-height: 16px;
  }
}

.basic-info__button {
  display: block;

  @include vp-767 {
    display: none;
  }
}

.basic-info__button-mobile {
  display: none;

  @include vp-767 {
    display: block;
  }
}
