.catalog {
  width: 100%;
  min-height: 960px;
  background-color: $color-dark-grey;

  @include vp-1023 {
    min-height: 1080px;
  }

  @include vp-767 {
    min-height: 1050px;
  }
}

.catalog__wrapper {
  position: relative;
  box-sizing: border-box;
  max-width: 1262px;
  margin: 0 auto;
  padding: 65px 20px;

  @include vp-1023 {
    padding: 55px 50px;
  }

  @include vp-767 {
    padding: 45px 25px;
  }
}

.catalog__title {
  margin: 0;
  font-family: $font-roboto-condensed;
  font-weight: 400;
  color: $color-default-white;

  &--large {
    display: block;
    margin-bottom: 55px;
    font-size: 36px;
    line-height: 51px;

    @include vp-1023 {
      margin-bottom: 37px;
    }

    @include vp-767 {
      display: none;
    }
  }

  &--small {
    display: none;

    @include vp-767 {
      display: block;
      width: 97%;
      margin-bottom: 30px;
      font-size: 28px;
      line-height: 141%;
    }
  }
}

.catalog__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 85px;
  min-height: 650px;

  @include vp-1023 {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: none;
    gap: 31px;
  }
}

.catalog__item-link {
  position: relative;
  width: auto;
  height: 650px;
  cursor: pointer;
  background-color: $color-dark-grey;
  overflow: hidden;

  &::after {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0;
    right: 0;
    background-color: $color-light-blue;
    background-image: url("../img/svg/arrow.svg");
    background-size: 5px 10px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 3px 0 0 0;
    content: "";
  }

  &:hover {
    outline: 1px solid $color-light-grey;
    opacity: 0.8;
  }

  &:active {
    outline: 1px solid $color-light-grey;
    opacity: 0.6;
  }

  @include vp-1023 {
    height: 250px;

    @include hover-focus {
      outline: none;
    }
  }

  @include vp-767 {
    height: 250px;

    &::after {
      width: 40px;
      height: 40px;
    }
  }
}

.catalog__item-img {
  width: 150%;
  height: 150%;
  object-fit: cover;

  &--production {
    object-position: -180px -200px;
  }

  &--installation {
    object-position: -515px -205px;
  }

  &--accessories {
    object-position: -875px -190px;
  }

  @include vp-1023 {
    width: 400%;
    height: 400%;

    &--production {
      object-position: -248px -640px;
    }

    &--installation {
      object-position: -577px -407px;
    }

    &--accessories {
      object-position: -150px -450px;
    }
  }

  @include vp-767 {
    &--production {
      object-position: -380px -390px;
    }

    &--installation {
      object-position: -366px -632px;
    }

    &--accessories {
      object-position: -890px -485px;
    }
  }
}

.catalog__item-title {
  position: absolute;
  top: 45px;
  left: 40px;
  margin: 0;
  width: 48%;
  font-family: $font-roboto-condensed;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: $color-default-white;

  @include vp-1023 {
    width: 22%;
    top: 37px;
    left: 45px;

    &--accessories {
      width: 23%;
    }
  }

  @include vp-767 {
    width: 50%;
    top: 25px;
    left: 30px;
    font-size: 18px;
  }
}
