.header-container {
  position: relative;
  width: 100%;
  min-height: 880px;
  background-color: $color-dark-grey;
  background-image: $dark-grey-to-top, url("../img/jpeg/background.jpg");
  background-size: cover;
  margin-bottom: 120px;

  @include retina {
    background-image: $dark-grey-to-top, url("../img/jpeg/background@2x.jpg");
  }

  @include vp-1023 {
    min-height: 640px;
    background-position: 20% 50%;
    margin-bottom: 80px;
  }

  @include vp-767 {
    min-height: 560px;
    background-position: 25% 50%;
    margin-bottom: 50px;
  }
}

.header-container__cap-background {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 120px;
  margin: 0 auto;
  background-image: $black-to-top;
  z-index: 1;

  @include vp-1023 {
    position: absolute;
    left: 0;
    min-height: 100px;
    padding: 0;
  }

  @include vp-767 {
    min-height: 70px;
    padding: 0;
  }
}

.header-container__cap {
  max-width: 1264px;
  min-height: 120px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @include vp-1023 {
    min-height: 100px;
    padding: 0 25px;
    align-items: unset;
  }

  @include vp-767 {
    min-height: 70px;
    padding: 0 15px;
  }
}

.header-container__logo-link {
  display: block;
  padding: 30px 10px;
  cursor: pointer;

  @include vp-1023 {
    padding: 20px 25px;
  }

  @include vp-767 {
    padding: 17px 10px;
  }
}

.header-container__logo-link-desktop {
  display: block;
  width: 215px;
  height: 55px;

  @include vp-767 {
    display: none;
  }
}

.header-container__logo-modile {
  display: none;

  @include vp-767 {
    display: block;
    width: 35px;
    height: 35px;
  }
}

.header-container__info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 41%;
  padding: 40px 0;

  @include vp-1023 {
    width: unset;
    margin-right: 23px;
    margin-top: 20px;
    min-width: 100px;
    padding: 0;
    justify-content: unset;
  }

  @include vp-767 {
    margin-right: 0;
    margin-top: 10px;
    justify-content: flex-end;
  }
}

.header-container__link {
  padding: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  cursor: pointer;

  &--mail {
    margin-left: 22px;
  }

  @include vp-1023 {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    padding: 10px;
    margin-right: 20px;

    &--mail {
      margin-left: 0;
    }
  }
}

.header-container__link span {
  padding-left: 15px;
  font-family: $font-pt-mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: $color-light-grey;

  &:hover {
    color: $color-light-blue;
  }

  &:active {
    opacity: 0.6;
  }

  @include vp-1023 {
    display: none;
  }
}

.header-container__button {
  display: block;
  width: 160px;
  min-height: 40px;
  padding: 10px;
  margin: 35px;
  margin-right: 55px;
  box-sizing: border-box;
  border: 1px solid $color-light-grey;
  border-radius: 3px;
  background-color: $color-transparent;
  font-family: $font-roboto-condensed;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0.05em;
  text-align: center;
  user-select: none;
  color: $color-light-grey;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: $color-light-blue;
  }

  &:active {
    opacity: 0.6;
  }

  @include vp-1023 {
    display: none;
  }
}
